{% extends '@layout/default.html.twig' %}

{% block title %}<title>{{ page.serpTitle }}</title>{% endblock %}
{% block seoMetaDescription %}<meta name="description" content="{{ page.description }}" />{% endblock %}
{% block seoRobots %}{% if page.robots != "" %}{{ page.robots }}{% endif %}{% endblock %}
{% block seoKeywords %} <meta name="keywords" content="{{ page.keywords }}" />{% endblock %}

{% block content %}
    <h1>{{ page.body.header1 }}</h1>
    {% if page.body.heroImage is not empty %}<img src="{{ cdnUrl }}{{ page.body.heroImage }}" alt="{{ page.body.header1 }}" style="width:100%">{% endif %}
    <div style="margin:20px 0px;">{{ page.body.summary }}</div>
    {{ page.body.intro|raw }}

    {{ page.body.contentBody|raw }}


{% endblock %}