{% extends '@layout/default.html.twig' %}

{% block title %}<title>{{ page.serpTitle }}</title>{% endblock %}
{% block seoMetaDescription %}<meta name="description" content="{{ page.description }}" />{% endblock %}
{% block seoRobots %}{% if page.robots != "" %}{{ page.robots }}{% endif %}{% endblock %}
{% block seoKeywords %} <meta name="keywords" content="{{ page.keywords }}" />{% endblock %}

{% block content %}
    <div class="home text-center">
        <h3>{{ page.body.title }}</h3>
        <div style="margin:30px">
        {{ page.body.intro|raw }}
        </div>
    </div>
{% endblock %}
